* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

body {
    background: #ECE9FD;

    padding: 6.0rem 2.3rem 6.6rem;

    font-family: 'Epilogue', sans-serif;
}

main {
    max-width: 33.0rem;
    margin: 0 auto;
}

:root {
    font-size: 62.5%; /* convertendo (font-size padrão do browser = 16px) => 10px */
    /* 1 rem = (font size do seu browser) */
} 

/* REM = Root EM */

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 4.8rem;

    margin-bottom: 1.5rem;
}

ul {
    margin-top: 7.2rem;
}

ul li {
    list-style: none;

    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;

    max-width: 25.7rem;

    display: flex;
    align-items: center;
    gap: 3.8rem;
}

ul li span {
    font-size: 7.2rem;
    font-weight: 800;
    line-height: 8.0rem; /* 111.111% */
    letter-spacing: -2px;
}

ul li + li {
    margin-top: 3.2rem;
}

p, a{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3.2rem;
}

a {
    text-decoration: none;
    color: var(--Text_Dark, #090039);
}

main p:first-child {
    color: var(--Text_Dark_Accent, #7158EF);
    letter-spacing: 3px;
    text-transform: uppercase;

    margin-bottom: 1.7rem;
}

h1 + p {
    color: var(--Text_Dark, #090039);

    margin-bottom: 3.2rem;
}

a:hover {
    font-weight: bold;
}

/* media queries */
@media (min-width: 700px) {
    body {
        padding-top: 8rem;
        padding-left: 9.0rem;
    }

    main {
        max-width: 1020px;

        display: flex;
        gap: 11.6rem;
    }

    main > div {
        max-width: 48.4rem;
    }

    ul li {
        gap: 5.3rem;
        max-width: 450px;
    }

}
